<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:lang="http://www.springframework.org/schema/lang"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <bean id="defaultCommandInterpreter"
    class="ru.soultakov.remotecontrol.core.impl.DefaultCommandInterpretor">
    <constructor-arg index="0" value="\s" />
    <constructor-arg index="1" value="-" />
  </bean>
  
  <bean id="antCommandInterpreter" 
    class="ru.soultakov.remotecontrol.core.impl.ant.AntCommandInterpreter">
  </bean>

  <bean id="jobExecutionService"
    class="ru.soultakov.remotecontrol.core.impl.JobExecutionServiceImpl">
    <constructor-arg ref="executorService"></constructor-arg>
    <constructor-arg index="1">
      <map>
        <entry key="helloworld" value-ref="helloWorldCommand" />
        <entry key="stop" value-ref="stopCommand" />
        <entry key="listdir" value-ref="listDirCommand" />
        <entry key="ant" value-ref="invokeAntCommand" />
      </map>
    </constructor-arg>
    <constructor-arg index="2">
      <map>
        <entry key="default" value-ref="defaultCommandInterpreter" />
        <entry key="ant" value-ref="antCommandInterpreter" />
      </map>
    </constructor-arg>
  </bean>

  <bean id="executorService" class="java.util.concurrent.Executors"
    factory-method="newFixedThreadPool">
    <constructor-arg type="int" value="5"/>
  </bean>

  <bean id="consoleJobProvidingService"
    class="ru.soultakov.remotecontrol.core.impl.console.ConsoleJobProvidingService">
    <constructor-arg ref="jobExecutionService"></constructor-arg>
    <constructor-arg value="60000"></constructor-arg>
  </bean>

  <bean id="mailService"
    class="ru.soultakov.remotecontrol.mail.MailService"
    destroy-method="close">
    <property name="properties">
      <props>
        <prop key="mail.store.protocol">pop3</prop>
        <prop key="mail.from">remote-control-@mail.ru</prop>
        <prop key="mail.pop3.host">pop.mail.ru</prop>
        <prop key="mail.connectiontimeout">600000</prop>
        <prop key="mail.timeout">600000</prop>
        <prop key="mail.transport.protocol">smtp</prop>
        <prop key="mail.smtp.host">smtp.mail.ru</prop>
        <prop key="mail.smtp.port">2525</prop>
        <prop key="mail.smtp.auth">true</prop>
      </props>
    </property>
    <property name="username" value="remote-control-@mail.ru"></property>
    <property name="password" value="mystupidbot"></property>
  </bean>

  <bean id="mailJobProvidingService"
    class="ru.soultakov.remotecontrol.core.impl.mail.MailJobProvidingService">
    <property name="mailService" ref="mailService" />
    <property name="subjectPattern" value="COMMAND*" />
    <property name="jobExecutionService" ref="jobExecutionService"></property>
    <property name="period" value="60000"></property>
  </bean>

  <bean id="application" class="ru.soultakov.remotecontrol.Application"
    factory-method="getInstance">
    <property name="jobExecutionServices">
      <list>
        <ref bean="jobExecutionService" />
      </list>
    </property>
    <property name="jobProvidingServices">
      <list>
        <!-- <ref bean="mailJobProvidingService" /> -->
        <ref bean="consoleJobProvidingService" />
      </list>
    </property>
  </bean>

  <!-- Begin Commands -->
  <bean id="helloWorldCommand"
    class="ru.soultakov.remotecontrol.core.impl.commands.HelloWorldCommand">
  </bean>

  <bean id="stopCommand"
    class="ru.soultakov.remotecontrol.core.impl.commands.StopCommand">
  </bean>

  <bean id="listDirCommand"
    class="ru.soultakov.remotecontrol.core.impl.commands.ListDirectoriesCommand">
  </bean>
  
  <bean id="invokeAntCommand"
    class="ru.soultakov.remotecontrol.core.impl.ant.InvokeAntCommand">
  </bean>

  <!-- End Commands -->

</beans>
